<div class="media listing">
    <a class="pull-left" href="#">
        <img class="media-object" src="{{ url_for('static', filename='img/64.jpg') }}">
    </a>
    <div class="media-body">
        <h4 class="media-heading">
            <a href="/listing/{{ l.lid }}">{{ l.title }}</a>
        </h4>
        <p>{{ l.description }}</p>
        <p>
            {% for c in l.categories %}
                <a href='/search?cat={{ c.label | upper }}' class="cat-pills label label-primary ">
                    {{ c.label | upper }}
                </a>
            {% endfor %}
        </p>
        <div class='meta'>
            <span>{{ l.create_time | datetime }}</span>
            &middot;
            <span><a href="/user/{{ l.owner_id}}">{{ l.name | title }}</a></span>
            &middot;
            <span>{{ l.comment_count }} Comments</span>
        </div>
    </div>
    <div>
    </div>
</div>