{% extends 'layout.html' %}
{% block content %}
<div class='row'>
    <div class="col-md-8">
        {% for l in listings %}
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="{{ url_for('static', filename='img/64.jpg') }}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="/listing/{{ l.id }}">{{ l.title }}</a>
                </h4>
                <p>{{ l.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        {% include 'partials/index_sidebar.html' %}
    </div>
</div>
{% endblock %}