{% extends 'layout.html' %}
{% block content %}

<div class="row">
    <h2>New Listing</h2>
</div>
<div class="row">
    <div class="col-md-8">
        <form role="form" method='post'>
            <div class="form-group">
                <label for="inputTitle">Title</label>
                <input name='title' type="text" class="form-control" id="inputTitle" placeholder="Enter listing title">
            </div>
            <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea rows="10" name='description' class='form-control' id='inputDescription' placeholder='Enter listing description'></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}
