{% extends 'layout.html' %}
{% block content %}
<div class='row'>
    <div class="col-md-8">
        <div class="clearfix page-header">
            {% if results %}
                <div class='pull-right'>
                    {% include "partials/search_pager.html" %}
                </div>
            {% endif %}
            <h2>Search Results:</h2>
            {% if results %}
                <p>
                    Total {{ total_results }} results.
                    <i>Showing page {{ p }} of {{ max_p }}.</i>
                </p>
            {% endif %}
        </div>
        <div class='row'>
            {% if not results %}
                <b>No results found. :(</b>
            {% else %}
                {% for l in results %}
                    {% include "partials/single_listing.html" %}
                {% endfor %}
                {% include "partials/search_pager.html" %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        {% include 'partials/index_sidebar.html' %}
    </div>
</div>
{% endblock %}
