{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h2>Sign Up</h2>
        </div>
        <form role="form" method='post'>
            <div class="form-group">
                <label for="inputName">Name</label>
                <input name='name' type="text" class="form-control" id="inputName" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input name='email' type="text" class="form-control" id="inputEmail" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input name='password' type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
                    <input name='tos' type="checkbox"> I have read and agree to your <a href="/tos">Term of Service</a>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-6"></div>
</div>
{% endblock %}
